:root {
  --bg: #188fa7;
  --primary: #e2dbbe;
  --secondary: #769fb6;
  --warn: #e63946;
  --warn-active: #9e2b25;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 24px;
  background: var(--bg);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

picture {
  display: block;
  margin: 0;
  padding: 0;
}

.vHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1080px;
  padding: 0 10px;
  margin: 0 auto;
}

.main {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.main__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.main__top {
}

.main__list {
}

.top {
  max-width: 470px;
}

.top__heading {
  margin-bottom: 20px;
  color: var(--primary);
}
.top__form {
  margin-bottom: 5px;
}
.top__clear-list {
  display: none;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  background: var(--warn);
  outline: none;
  color: #fff;
  font: inherit;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
}

.top__clear-list:hover {
  background: var(--warn-active);
}

.form {
  display: flex;
  width: 100%;
  position: relative;
}
.form__input {
  width: 100%;
  padding: 15px;
  padding-right: 80px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2) inset;
  background: rgba(0, 0, 0, 0.1);
  outline: none;
  color: #fff;
  font: inherit;
  font-size: 20px;
  transition: all 0.5s;
}
.form__input:focus {
  background: var(--secondary);
  border: none;
}
.form__input::placeholder {
  color: #fff;
}
.form__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  padding: 0 20px;
  border-radius: 3px;
  background: var(--primary);
  cursor: pointer;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.list__item {
}
.country {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  min-height: 320px;
  padding-bottom: 10px;
  background: var(--secondary);
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  color: var(--primary);
}

.country__wrapper {
}
.country__flag {
}
.country__flag img {
  width: 100%;
  display: flex;
  border-radius: 5px 5px 0 0;
}

.country__info {
  padding-left: 40px;
}

.country__name {
  position: relative;
  font-size: 26px;
  line-height: 34px;
}

.country__name::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 8px;

  display: block;
  width: 20px;
  height: 20px;
  background: url("img/location.svg");
}
.country__capital {
  position: relative;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
}

.country__capital::before {
  content: "";
  position: absolute;
  left: -25px;

  display: block;
  width: 20px;
  height: 20px;
  background: url("img/capital.svg");
}

.country__currency {
  position: relative;
  margin-bottom: 5px;
}

.country__currency::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 2px;
  display: block;
  width: 20px;
  height: 20px;
  background: url("img/currency.svg");
}
.currency {
}
.currency__symbol {
}
.currency__name {
}

.country__population {
  position: relative;
  margin-bottom: 10px;
}

.country__population::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 1px;
  display: block;
  width: 20px;
  height: 20px;
  background: url("img/people.svg");
}
